body {
  min-width: 200px;
  transition: background-color 0.3s ease;
}

body.dark-mode {
  background-color: #4c5661 !important;
  color: #ffffff !important;
}

body.dark-mode .main {
  color: #ffffff !important;
}

body.dark-mode #siteInfo {
  color: #ffffff !important;
}

.main {
  text-align: center;
  font-family: "Arial", sans-serif;
  color: #495057;
  padding: 20px;
}

hr {
  margin: 15px 0;
}

.toggle-btn {
  background-color: #28a745;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.theme-toggle-mode {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
}

.blockListBtn {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  width: 10px;
  height: 10px;
}

#blockListIcon {
  max-width: 20px;
}

#logo {
  max-width: 100px;
  border-radius: 10px;
}

#themeIcon {
  max-width: 20px;
}

#siteInfo {
  margin-top: 15px;
  color: #495057;
}

#blockButton {
  background-color: #e1ecf0;
  color: #495057;
  padding: 8px 16px;
  margin-top: 5px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

#blockList {
  list-style: none;
  padding: 0;
  border: 1px solid #e1ecf0;
  border-radius: 10px;
  overflow: hidden;
  background-color: #ffffff;
  margin: 10px 0;
  max-height: 200px;
  overflow-y: auto; /* Enable vertical scrolling */
}

#blockList li {
  padding: 8px;
  transition: background-color 0.3s ease;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

#blockList ul {
  margin: 0;
  padding: 0;
}

#blockList li:hover {
  background-color: #e1ecf0;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.delete-icon {
  cursor: pointer;
  margin-left: 10px;
  max-width: 20px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

#blockList li:hover .delete-icon {
  opacity: 1;
}
